header {
text-align: center;
letter-spacing: 3px;

font-family: "optima", verdana, sans-serif;


}

footer {
text-align: left;
font-style: italic; 

}

nav {
border-top: 1px solid;
padding: 4px;
/*margin-top: 4px;*/
}

nav a {
text-decoration: orange;

}

nav .btn{
    background-color: darkslateblue;
    color: darkorange;
}


nav a:visited {
    text-decoration: yellow;
    }
nav a:hover {
font-style: bold;
font-family: fantasy;
}

nav a:active {
text-emphasis: none;


}